.founder {
  padding: 31px 0 21px;
  &__body {
    display: flex;
  }
  &__text {
    margin-left: 40px;
    max-width: 672px;
  }
  &__line {
    margin-bottom: 50px;
  }
}
.founder__person {
  &-img {
    max-width: 360px;
    overflow: hidden;
    & img {
      width: 100%;
    }
  }
  &-info {
    margin-top: 9px;
    & span {
      font-weight: 600;
    }
  }
}
.founder__description {
  margin-bottom: 28px;
  &:last-child {
    margin: 0;
  }
  & span {
    font-weight: 600;
  }
}