@media (max-width: 1193px) {
  .contact__title {
    text-align: center;
    text-align-last: center;
  }
}
@media (max-width: 1050px) {
  .hero__top {
    flex-direction: column;
    align-items: center;
  }
  .hero__description {
    max-width: 100%;
    text-align: center;
  }
  .hero__group {
    margin: 0 0 20px;
  }
}
@media (max-width: 1000px) {
  .hero {
    height: 750px;
    overflow: hidden;
  }
  .founder {
    &__body {
      flex-direction: column;
    }
    &__person {
      &-img {
        max-width: 550px;
      }
    }
    &__text {
      margin: 25px 0 0;
    }
  }
  .footer__logo img {
    width: 100px;
  }
  .advantages {
    padding: 50px 0;
    &__flaw {
      flex-direction: column;
      &-grid {
        margin-top: 25px;
      }
    }
    & .advantages-name {
      max-width: 100%;
    }
    &__timber {
      flex-direction: column;
      &-grid {
        margin-top: 25px;
      }
    }
    & .advantages-last-list {
      margin-left: 25px;
    }
    &__myths { 
      &-name {
        margin-bottom: 15px;
      }     
      &-grid {
        flex-direction: column;
      }
      & .one-box, .two-box, .three-box {
        width: 100%;
        margin: 0;
      }
      &-box {
        height: auto;
        padding: 25px;
      }
      & .two-box {
        margin: 25px 0;
      }
      &-row {
        flex-direction: column;
        padding: 25px;
        gap: 25px;
        &__description {
          max-width: 100%;
        }
      }
      & .advantages__myths-row_description {
        max-width: 100%;
      }
    }
  }
  .services {
    padding: 50px 0;
    &__wrap {
      padding: 50px 0;
    }
  }
  .section-backround {
    height: 700px;
  }
}
@media (max-width: 800px) {
  .header {
    margin-bottom: 25px;
  }
  .hero {
    height: 550px;
    overflow: hidden;
    &__inner {
      height: 100%;
      background: transparent;
      position: relative;
      &::before {
        content: '';
        background: url('../images/hero-bgc.png') no-repeat; 
        width: 783px; height: 570px;
        background-position: center;
        background-size: cover;
        display: block;
        position: absolute;
        bottom: -110px;
        z-index: 2;
      }
    }
    &__group {
      position: relative;
      z-index: 5;
      &-title {
        max-width: 650px;
        & img {
          width: 100%;
        }
      }
      &-subtitle {
        max-width: 650px;
        & img {
          width: 100%;
        }
      }
    }
    &__description {
      position: relative;
      z-index: 5;
    }
  }
  .totem {
    padding: 50px 0;
    & .col-1 {
      flex-direction: column;
      margin-bottom: 40px;
    }
    & .col-1 .totem__col-item {
      margin: 0 0 25px;
    }
    & .col-2 .totem__col-item {
      margin: 0 0 25px;
    }
    & .totem-col-list-1 {
      margin-right: 25px;
    }
    & .col-2 {
      flex-direction: column;
      margin-bottom: 40px;
    }
    &__row {
      padding: 15px;
      flex-direction: column;
      & .row-box-1, .row-box-2, .row-box-3 {
        max-width: 100%;
      }
      & .row-box-2 {
        margin: 25px 0;
      }
    }
  }
  .case {
    padding-bottom: 50px;
  }
  .contact {
    padding: 50px 0;
    &__title {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 25px;
    }
    &__row {
      margin-top: 25px;
    }
  }
  .footer {
    &__container {
      flex-direction: column;
      align-items: start;
    }
    &__logo {
      margin-bottom: 25px;
    }
    &__social {
      margin: 25px 0;
    }
  }
}
@media (max-width: 768px) {
   .header {
     &__left {
       display: flex;
       justify-content: space-between;
       width: 100%;
     }
     &__nav {
       display: none;
     }
     &__button {
       display: none;
     }
     & .header__toggle {
        display: block;
     }
     & .header__nav.active {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0; right: 0;
        background: rgba(0, 0, 0, 0.833);
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
        & .header__nav-link {
          color: #fff;
          font-size: 21px;
        }
        & .header__nav-list {
          flex-direction: column;
        }
        & .header__nav-item {
          margin: 0 0 35px;
          &:last-child {
            margin: 0;
          }
        }
     }
   }
   .contact {
    &__row {
      flex-direction: column;
    }
    &__info {
      max-width: 100%;
      &-social {
        margin-bottom: 25px;
      }
    }
    &__right {
      max-width: 100%;
      &-description {
        max-width: 100%;
      }
    }
   }
}
@media (max-width: 600px) {
  .hero {
    &__description {
      font-size: 15px;
    }
  }
  .founder {
    &__line {
      margin-bottom: 25px;
    }
    & p {
      font-size: 15px;
    }
  }
  .gallery {
    padding-bottom: 25px;
    &__slider {
      height: auto;
      max-width: auto;
      margin-bottom: 25px;
      &-img {
        overflow: hidden;
      }
    }
  }
  .totem {
    &__top {
      margin-bottom: 25px;
    }
    &__top-title {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .case {
    &__splide-row {
      margin-top: 25px;
    }
  }
  .contact {
    &__title {
      font-size: 25px;
    }
    &__box {
      padding: 15px;
    }
  }
  .advantages {
    &__timber {
      margin-bottom: 40px;
      &-grid {
        flex-direction: column;
      }
      & li {
        max-width: 100%;
        font-size: 15px;
      }
    }
    & .advantages-last-list {
      margin: 25px 0 0;
    }
    &__flaw {
      margin-bottom: 40px;
      &-grid {
        flex-direction: column;
      }
      & p {
        max-width: 100%;
        font-size: 15px;
      }
    }
    &__myths {
      &-name .advantages-name {
        margin: 0;
      }
      &-box {
        & p {
          font-size: 15px;
        }
      }
    }
  }
  .services {
    &__info {
      &-title {
        font-size: 30px;
        line-height: 23px;
      }
      &-group {
        flex-direction: column;
        gap: 25px;
        & p {
          max-width: 100%;
          font-size: 15px;
        }
      }
      & .first-description {
        margin: 0;
      }
    }
  }
  .service__splide {
   
  }
  .slide-one {
    padding: 25px;
    & p {
      font-size: 15px;
    }
    & .slide-one-subtitle {
      margin-bottom: 15px;
    }
    & .slide-one-col {
      flex-direction: column;
      gap: 15px;
    }
    & .slide-one-description {
      margin-bottom: 15px;
    } .slide-one-prise {
      margin-bottom: 15px;
    }
    & .slide-one-descipt {
      margin: 0;
      max-width: 100%;
    } .slide-one-descipti {
      max-width: 100%;
    }
  }

  .slide-two {
    padding: 25px;
    & p {
      font-size: 15px;
    }
    & .slide-two-subtitle {
      margin-bottom: 15px;
    }
    & .slide-two-description {
      margin-bottom: 15px;
    }
    & .slide-two-warning {
      margin-bottom: 15px;
    } 
    & .slide-two-prise {
      margin-bottom: 15px;
    }
    & .slide-two-included {
      margin-bottom: 15px;
    }
    & .slide-two-col {
      flex-direction: column;
      & .services-list-one {
        max-width: 100%;
      }
      & .services-list-two {
        max-width: 100%;
      }
    }
  }

  .slide-three {
    padding: 25px;
    & .slide-three-subtitle {
      margin-bottom: 15px;
    }
    & .slide-three-description {
      margin-bottom: 15px;
    }
    & .slide-three-prise {
      margin-bottom: 15px;
    }
    & .slide-three-included {
      margin-bottom: 15px;
    } .slide-three-col {
      gap: 15px;
    }
  }
  .splide__slide {
    overflow: hidden;
  }
  .slide-four {
    padding: 25px;
    & .slide-four-subtitle {
      margin-bottom: 15px;
    }
    & .slide-four-description {
      margin-bottom: 15px;
    }
    & .slide-four-prise {
      margin-bottom: 15px;
    }
    & .slide-four-included {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 500px) {
  .totem {
    & .col-1 .totem__col-box {
      flex-direction: column;
    }
    & .col-1 .totem-col-list-1 {
      max-width: 100%;
      margin: 0;
      & li {
        max-width: 100%;
      }
    }
    & .col-1 .totem-col-list-2 {
      max-width: 100%;
    }
  }
  .section-backround {
    height: 400px;
  }
}
@media (max-width: 400px) {
   .slide-three {
    & .slide-three-col {
      flex-direction: column;
    }
   }
}